/*
 *  style.css
 */

html, body {
    margin: 0;
    font-family: 'Kaisei Decol', serif;
}

#key-visual {
	width: 100vw;
	height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0) !important;
}

.colorful {
    background: linear-gradient(45deg, #EB7D2F,#F5266D,#FAD216);
    background-size: 200% 200%;
    animation: bggradient 20s ease infinite;
}

#key-visual .title {
    align-self: center;
    color: white;
    font-size: 5em;
}

section {
    background-color: white;
}

@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 32px 0;
    box-sizing: border-box;
}

#about > div {
    width: 50%;
    box-sizing: border-box;
}
#about > div:first-child {
    padding-right: 16px;
}
#about > div:last-child {
    padding-left:  16px;
}

#about .tabelog {
    text-align: left;
}

#about div a {
    margin: 0 auto;
    padding: 8px 16px;
    color: #333;
    background-color: white;
    border: solid #333 1px;
    border-radius: 24px;
    text-decoration: none;
}

.overlay, #gyoza_player {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100％;
    height: auto;
}

.overlay{
    z-index: -2;
    width: 100%;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

#gyoza_player{
    z-index: -3;
    opacity: 0.5;
}

pre {
    width: calc(100% - 16px);
    margin: 8px 4px;
    padding: 4px 8px;
    background-color: lightgray;
    border-radius: 4px;
    box-sizing: border-box;
}

.over-20 {
    width: 100%;
    padding: 64px 0;
    text-align: center;
}

.over-20 button {
    padding: 8px 16px;
    color: white;
    font-size: 1.2em;
    font-family: 'Kaisei Decol', serif;
    background-color: coral;
    border: none;
    border-radius: 24px;
    box-shadow: none;
}

/* common */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.coral {
    color: white;
    background-color: coral;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 24px 0 8px 0;
}

h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font-size: 1.6em;
}
h4  {
    font-size: 1.3em;
}

p {
    line-height: 1.5;
    /*font-size: 1.2em;*/
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.fix-height {
    min-height: calc(100vh - 120px);
}

@media screen and (max-width: 1080px) {
    .container {
        margin: 0 64px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        margin: 0 16px;
    }
    #key-visual .title {
        font-size: 3em;
    }
    h1 {
        font-size: 2em;
    }
}
@media screen and (max-width: 480px) {
    .container {
        margin: 0 8px;
    }
    .pc {
        display: none;
    }
    .sp {
        display: inline;
    }
}

/* header and footer */
table {
    border-spacing: 0;
}
thead tr, tbody tr:nth-child(2) {
    background-color: lightgray;
}
th, td {
    padding: 4px 8px;
    box-sizing: border-box;
    border-top: 1px black solid;
    border-right: 2px white solid;
}
tbody tr:last-child td {
    border-bottom: 1px #000000 solid;
}

header {
    height: 60px;
    background-color: coral;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
}

header a div {
    color: white;
    font-size: 1.5em;
    margin-left: 16px;
    display: inline;
}

footer {
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: coral;
}

footer small {
    display: block;
    font-family: 'Kaisei Decol', serif;
}

/* 404 not found */
.space {
    width: 100%;
    height: calc((100vh - 120px) / 10);
}
